*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 12px;
}

body{
    background-color: #CCFFBB;
}

/*Login page style*/

.login_box{
    width: 350px;
    height: 210px;
    position: fixed;
    top: 50%;
    left:50%;
    margin-left: -175px;
    margin-top: -105px;
    background-color: #fff;
    border: 1px solid #3A5F0B;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    /*color: #fff;*/
}

.login_box_header{
    width: 100%;
    padding: 10px;
    margin: 0px;
    background-color: #005A04;
    border-bottom: 1px solid #3A5F0B;
    color: #fff;
}

.login_box_form{
    width: 100%;
    padding: 25px 10px;
}

.login_box_form table{
    width: 100%;
}

.login_text_box{
    font-size: 12px;
    border: 1px solid #3A5F0B;
}

.login_box_btn{
    font-size: 12px;
    background-color: #005A04;
    border: 1px solid #005A04;
    color: #fff;
}

.login_box_btn:hover{
    background-color: #3A5F0B;
    border: 1px solid #3A5F0B;
    color:#fff;
}

/*Login page style*/


/*Nav bar design*/
.navbar-override{
    background-color: #005A04;
    border-radius: 0px;
    border-bottom: 1px solid #3A5F0B;
}

.navbar-default .navbar-brand{
    color: #fff;
}

#menu_item li a{
    color: #fff;
}

#menu_item li a:hover{
    color: #ccc;
}

#dropdown_menu li a {
    color:#fff;
}

#dropdown_menu li a:focus {
    color:#fff;
    background:none;
}

#dropdown_menu_item{
    background-color: #005A04;
}

#dropdown_menu_item li a:hover{
    background-color: #3A5F0B;
}
/*Nav bar design*/


/*popupbox design*/

.popupBack{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: none;
}

.popupConfirmBox{
    position: fixed;
    top:50%;
    left:50%;
    margin-left:-150px;
    margin-top:-55px;
    width:300px;
    height:110px;
    background-color: #fff;
    display: none;
}

.popupCofirmBoxHeader{
    width: 100%;
    padding: 8px;
    background-color: #005A04;;
    font-weight: bold;
    color: #fff;
}

.popupCloseBtn{
    padding: 3px 5px;
    background-color: #cc0000;
    color: #ccc;
    border-radius: 2px;
}

.popupCloseBtn:hover{
    background-color: #ff0000;
    color: #fff;
}

.confirmMsg{
    padding: 10px;
}

.confirmBtnArea{
    width: 100%;
    padding-left: 10px;
}

/*popupbox design*/


/*growl box*/
.growlBox{
    position: fixed;
    right: 8px;
    top: 60px;
    padding: 20px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 1px 1px 3px #555;
    /*color in this box is handled in show_flash method of javascript*/
}
/*growl box*/

/*Dashboard Design*/

.icon_wrap, .icon_wrap_admin {
    display: table;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 980px;
    margin-left: -490px;
    margin-top: -150px;
    padding: 10px;
}

.icon_wrap_admin {
    width: 500px;
    margin-left: -250px;
    margin-top: -100px;
}

.icons {
    border:1px solid #3A5F0B;
    width: 150px;
    text-align: center;
    float: left;
    padding: 10px;
    margin-right: 10px;
}

.icons a {
    outline: none;
    color: #000;
}

.icons a:hover {
    color: #333;
    text-decoration: none;
}

.icon_font {
    font-size: 100px;
    padding: 10px;
}

.icon_text {
    display: block;
    text-align: center;
}

/*Dashboard Design*/


/*data table view*/
.data_table_view_wrap{
    margin: 0 auto;
    width: 80%;
}

.toolbar{
    display: table;
    padding: 10px;
    width: 100%;
    border:1px solid #3A5F0B;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #003a00;

}

.toolbar_search{
    width: 250px;
    float: right;
    display: table-cell;
}

.toolbar_input{
    width: 80%;
    display: table-cell;
    border-radius: 4px 0px 0px 4px;  
    border:1px solid #3A5F0B;
    border-right: none;
    float: left;
}

.toolbar_search_btn{
    display: table-cell;
    width: 20%;
    float: right;
    border-radius: 0px 4px 4px 0px;
    background-color: #005A04;
    border: 1px solid #005A04;
    color: #fff;
}
.toolbar_search_btn:hover{
    background-color: #3A5F0B;
    border: 1px solid #3A5F0B;
    color:#fff;
}


.btn-back{
    display: table-cell;
    float: left;
    width: 63px;
    font-size: 12px;
    background-color: #005A04;
    border: 1px solid #005A04;
    color: #fff;
}

.btn-back:hover{
    background-color: #3A5F0B;
    border: 1px solid #3A5F0B;
    color:#fff;
}

.data_table_panel{
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border:1px solid #3A5F0B;
    background-color: #003a00;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.data_table{
    margin: 0px;
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
    border: 1px solid #3A5F0B;
}

.data_table th{
    background-color: #005A04;
    color: #fff;
}

.data_table td{
    background-color: #fff;
}

.data_table td a{
    color: #222;
}

.data_table td a:hover{
    color: #555;
}

.pagination{
    margin-bottom: 0px;
}

.pagination li a{
    background-color: #005A04;
    border: 1px solid #005A04;
    color: #fff;
}

.pagination li a:hover{
    background-color: #3A5F0B;
    border: 1px solid #3A5F0B;
    color:#fff;
}

/*data table view*/

/*misc*/
.form_input{
    border:1px solid #3A5F0B;
}
/*misc*/

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 0px;
    border-top:1px solid #3A5F0B;
    text-align: center;
    background-color: #005502;
    color: #fff;
}


